<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>超市管理系统---添加商品入库</title>
  <!-- 引入公共样式 -->
  <link rel="stylesheet" href="css/content.css">
  <!-- 引入elementui样式 -->
  <link rel="stylesheet" href="css/elementUI.css">
  <!-- 引入本页面的样式 -->
  <link rel="stylesheet" href="css/index.css">
   <!-- 引入cookie -->
   <script src="/users/IFcook"></script>

</head>

<body>

  <!-- 测试 -->
  <div id="app">
    <!-- 主体 -->
    <el-main>
      <!-- 整体卡片布局 -->
      <el-card class="box-card">
        <!-- 卡片的头部 -->
        <div slot="header" class="clearfix">
          <span>添加商品入库</span>
        </div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
        :label-position="labelPosition">
        <!-- 商品条形码 -->
        <el-form-item label="商品条码型：" prop="sptm">
          <el-input type="text" v-model="ruleForm.sptm" autocomplete="off"></el-input>
         
        </el-form-item>

        <!-- 数量 -->
        <el-form-item label="数量：" prop="number">
          <el-input type="text" v-model="ruleForm.number" autocomplete="off"></el-input>

        </el-form-item>

        <!-- 商品售价 -->
        <el-form-item label="进价：" prop="spjprice">
          <el-input type="text" v-model="ruleForm.spjprice" autocomplete="off"></el-input><span>元</span>

        </el-form-item>
        <el-button type="success">入库</el-button>



      </el-form>

      </el-card>
    </el-main>
  </div>










  <!-- 引入jq -->
  <script src="js/jquery.min.js"></script>
  <!-- 引入vue -->
  <script src="js/vue.min.js"></script>
  <!-- 引入elementui组件 -->
  <script src="js/elementUI.js"></script>
  <script>
    //创建vue实例化
    new Vue({
      //挂载视图
      el: "#app",
      data() {
        return {
        
          labelPosition: 'top',
          ruleForm: {
            sptm: '',
            number: '',
            spjprice: ""
           
          },
          rules: {
            sptm: [
              { required: true, message: '请扫码', trigger: 'blur' },

            ],
            number: [
              { required: true, message: '请选择活动区域', trigger: 'change' }
            ]

            
          }
        };
      },
    });











  </script>



</body>

</html>