<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>超市管理系统---修改账号密码</title>
  <!-- 引入公共样式 -->
  <link rel="stylesheet" href="css/content.css">
  <!-- 引入elementui样式 -->
  <link rel="stylesheet" href="css/elementUI.css">
  <!-- 引入本页面的样式 -->
  <link rel="stylesheet" href="css/index.css">
   <!-- 引入cookie -->
   <script src="/users/IFcook"></script>

</head>

<body>

  <!-- 测试 -->
  <div id="app">
     <!-- 主体 -->
     <el-main>
        <!-- 整体卡片布局 -->
        <el-card class="box-card">
          <!-- 卡片的头部 -->
          <div slot="header" class="clearfix">
            <span>修改账号密码</span>
          </div>
          <!--修改密码表单  -->
          <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm"  :label-position="labelPosition">
              <el-form-item label="原密码" prop="pass">
                <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="新密码" prop="checkPass">
                <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="新密码" prop="newsPass">
                  <el-input type="password" v-model="ruleForm2.newsPass" autocomplete="off"></el-input>
                </el-form-item>
              <el-form-item>
                <el-button  @click="submitForm('ruleForm2')" type="success">提交</el-button>
            
              </el-form-item>
            </el-form>

        </el-card>
      </el-main>


  </div>


  <!-- 引入jq -->
  <script src="js/jquery.min.js"></script>
  <!-- 引入vue -->
  <script src="js/vue.min.js"></script>
  <!-- 引入elementui组件 -->
  <script src="js/elementUI.js"></script>
  <script>
    //创建vue实例化
    new Vue({
      //挂载视图
      el: "#app",
        //数据
        data() {
      
        
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'));
        } else if (value !== this.ruleForm2. newsPass) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      };
      return {
        labelPosition: 'top',
        ruleForm2: {
          pass: '',
          checkPass: '',
          newsPass:""
        },
        rules2: {
          pass: [
            {required:true,message:"请输入密码", trigger: 'blur' },
            { min:6,max:18,message:"密码的长度为6-18位之间", trigger: 'blur' },

          ],
          checkPass: [
          {required:true,message:"请输入密码", trigger: 'blur' },
          { min:6,max:18,message:"密码的长度为6-18位之间", trigger: 'blur' },
          ],
          newsPass: [
          {required:true,message:"请输入密码", trigger: 'blur' },
          { min:6,max:18,message:"密码的长度为6-18位之间", trigger: 'blur' },
          ],
        
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
      
    });











  </script>



</body>

</html>